#Face{
    position: relative;
    border: 3px solid black;
    width: 100px;
    height: 80px;
    margin: 0 auto;
    margin-top: 100px;
    background-color: rgb(224, 32, 3);
    border-radius: 10px;
    animation: side1 2s infinite;
}
#face1{
    position: absolute;
    border: 3px solid black;
    width: 75px;
    height: 50px;
    margin: 0 auto;
    margin-top: -2px;
    background-color: rgb(67, 67, 181);
    left: 9px;
    border-radius: 0px 0px 10px 10px;
}
#eye1{
    position: absolute;
    border: 3px solid black;
    width: 10px;
    height: 10px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: rgb(255, 255, 255);
    left: 20px;
    border-radius: 50%;
    animation: eye 2s infinite;
}
#eye2{
    position: absolute;
    border: 3px solid black;
    width: 10px;
    height: 10px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: rgb(255, 255, 255);
    left: 60px;
    border-radius: 50%;
    animation: eye 2s infinite;
}
#ear{
    position: absolute;
    border: 3px solid black;
    width: 5px;
    height: 20px;
    left: 100px;
    margin-top: 20px;
    background-color: brown;
    border-radius: 10px;
}
#line1{
    position: absolute;
    border: 3px solid black;
    width: 20px;
    height: 1px;
    left: 100px;
    margin-top: 30px;
    background-color: brown;
    border-radius: 10px;
}
#line2{
    position: absolute;
    border: 3px solid black;
    width: 3px;
    height: 50px;
    left: 120px;
    margin-top: -19px;
    background-color: brown;
    border-radius: 10px;
}
#line3{
    position: absolute;
    border: 3px solid black;
    width: 10px;
    height: 10px;
    left: 116px;
    margin-top: -19px;
    background-color: blue;
    border-radius: 50%;
    animation: light 2s infinite;
}
#neck{
    position: relative;
    border: 3px solid black;
    width: 30px;
    height: 10px;
    margin: 0 auto;
    background-color: brown;
    border-radius: 5px;
    margin-top: -2px;
}
#body{
    position: relative;
    border: 3px solid black;
    width: 80px;
    height: 100px;
    margin: 0 auto;
    background-color: rgb(224, 32, 3);
    border-radius: 10px;
    margin-top: -5px;
    animation: side1 2s infinite;
}
#body1{
    position: absolute;
    border: 3px solid black;
    width: 50px;
    height: 40px;
    margin: 0 auto;
    background-color: rgb(67, 67, 181);
    border-radius: 0px 0px 10px 10px;
    margin-top: -3px;
    left: 12px;
}
#body2{
    position: absolute;
    border: 3px solid black;
    width: 37px;
    height: 15px;
    margin: 0 auto;
    background-color: rgb(67, 67, 181);
    border-radius: 5px 5px 5px 5px;
    margin-top: -3px;
    left: 4px;
    top: 55px;
}
#body3{
    position: absolute;
    border: 3px solid black;
    width: 37px;
    height: 15px;
    margin: 0 auto;
    background-color: rgb(67, 67, 181);
    border-radius: 5px 5px 5px 5px;
    margin-top: -3px;
    left: 4px;
    top: 75px;
}
#body4{
    position: absolute;
    border: 3px solid black;
    width: 15px;
    height: 15px;
    margin: 0 auto;
    background-color: green;
    border-radius: 50%;
    margin-top: -3px;
    left: 53px;
    top: 65px;
}
#arm1{
    position: absolute;
    border: 3px solid black;
    width: 20px;
    height: 10px;
    margin: 0 auto;
    background-color: rgb(67, 67, 181);
    border-radius: 5px 5px 5px 5px;
    margin-top: -3px;
    left: -25px;
    top: 15px;
    z-index: -1;
}
#arm2{
    position: absolute;
    border: 3px solid black;
    width: 20px;
    height: 10px;
    margin: 0 auto;
    background-color: rgb(67, 67, 181);
    border-radius: 5px 5px 5px 5px;
    margin-top: -3px;
    left: 79px;
    top: 15px;
    z-index: -1;
}
#leg1{
    position: absolute;
    border: 3px solid black;
    width: 15px;
    height: 50px;
    margin: 0 auto;
    background-color: rgb(67, 67, 181);
    border-radius: 5px 5px 5px 5px;
    margin-top: -3px;
    left: 15px;
    top: 100px;
    z-index: -1;
    animation: side 2s infinite;
}
#leg2{
    position: absolute;
    border: 3px solid black;
    width: 15px;
    height: 50px;
    margin: 0 auto;
    background-color: rgb(67, 67, 181);
    border-radius: 5px 5px 5px 5px;
    margin-top: -3px;
    left: 50px;
    top: 100px;
    z-index: -1;
    animation: arm1 2s infinite;
}
#arm1_1{
    position: relative;
    border: 3px solid black;
    width: 10px;
    height: 50px;
    margin: 0 auto;
    background-color: rgb(67, 67, 181);
    border-radius: 5px 5px 5px 5px;
    margin-top: -3px;
    right: 58px;
    bottom: 88px;
    animation: side 2s infinite;
}
#arm2_1{
    position: relative;
    border: 3px solid black;
    width: 10px;
    height: 50px;
    margin: 0 auto;
    background-color: rgb(67, 67, 181);
    border-radius: 5px 5px 5px 5px;
    left: 60px;
    bottom: 143px;
    animation: arm1 2s infinite;
}
#base{
    position: relative;
    border: 3px solid black;
    width: 100%;
    height: 400px;
    top: -60px;
    background-color: brown;
}
@keyframes arm1{
    0%{
        transform: rotate(0deg);
        transform-origin : top;
    }
    50%{
        transform: rotate(45deg);
        transform-origin : top;
    }
    100%{
        transform: rotate(0deg);
        transform-origin : top;
    }
}
@keyframes side{
    0%{
        transform: rotate(45deg);
        transform-origin : top;
    }
    50%{
        transform: rotate(0deg);
        transform-origin : top;
    }
    100%{
        transform: rotate(45deg);
        transform-origin : top;
    }
}
@keyframes side1{
    0%{
        transform: rotate(-5deg);
        transform-origin : bottom;
    }
    25%{
        transform: rotate(0deg);
        transform-origin : bottom;
    }
    50%{
        transform: rotate(5deg);
        transform-origin : bottom;
    }
    75%{
        transform: rotate(0deg);
        transform-origin : bottom;
    }
    100%{
        transform: rotate(-5deg);
        transform-origin : bottom;
    }
}
@keyframes eye{
    0%{
        transform: rotate(0deg);
        transform-origin : top;
        background-color: black;
    }
    50%{
        transform: rotate(-45deg);
        transform-origin : top;
        background-color: white;
    }
    100%{
        transform: rotate(0deg);
        transform-origin : top;
        background-color: black;
    }
}
@keyframes light{
    0%{
        background-color: blue;
    }
    50%{
        background-color:red;
    }
    100%{
        background-color: blue;
    }
}